<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <div th:replace="common::header"></div>

    <style type="text/css">
        .core {
            padding-left: 14%;
            padding-top: 5%;
        }
    </style>
</head>
<body>
<div th:replace="common::topMenu"></div>
<div th:replace="common::leftMenu"></div>

<div class="core">
    <form class="ui form">
        <h2 class="ui dividing header">小学报名信息查询</h2>
        <div class="field">
            <div class="four fields">
                <div class="field">
                    <label>姓名</label>
                    <input type="text" name="shipping[name]" placeholder="姓名">
                </div>
                <div class="field">
                    <label>状态</label>
                    <select class="ui dropdown">
                        <option value="">全部</option>
                        <option value="INIT">初始化</option>
                        <option value="AUDIT">审核中</option>
                        <option value="PASSED">通过</option>
                        <option value="REJECT">拒绝</option>
                    </select>
                </div>
                <div class="field">
                    <label>创建日期</label>
                    <div class="two fields">
                        <div class="field">
                            <div class="ui calendar" id="startDate">
                                <div class="ui input left icon">
                                    <i class="calendar alternate icon"></i>
                                    <input type="text" placeholder="开始日期" value="">
                                </div>
                            </div>
                        </div>
                        <i class="minus icon" style="margin-top: 10px;"></i>
                        <div class="field">
                            <div class="ui calendar" id="endDate">
                                <div class="ui input left icon">
                                    <i class="calendar alternate icon"></i>
                                    <input type="text" placeholder="结束日期" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui button" tabindex="0">查询</div>
    </form>
</div>

</body>

<script>
    $('select.dropdown').dropdown();
    $("div.calendar").calendar({
        type: 'date',
        formatter: { // 自定义日期的格式
            date: function (date, settings) {
                if (!date) return '';

                var year = date.getFullYear();
                var month = date.getMonth() + 1;
                var day = date.getDate();

                month = month < 10 ? '0' + month : month;
                day = day < 10 ? '0' + day : day;

                return year + '-' + month + '-' + day;
            }
        }
    });
</script>
</html>