<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <div th:replace="common::header"></div>
    <style>
        .item{
            padding-top: 20px;
            padding-left: 20px;
        }
    </style>

</head>
<body>
<th:block>
    <div class="ui long modal grid">
    <div class="header">教师详细信息</div>
    <div id="teacherApplyDetailResult" th:fragment="teacherApplyDetailResult">
        <div class="image content">
            <img  class="image" th:src="@{${teacherApplyDetailResult?.pictureUrl}}">
            <div class="ui divider"></div>
            <div class="description" >
                <h3 class="ui header">基础信息</h3>
                <div class="ui divider"></div>
                <div class="ui four column grid">
                    <div class="column">
                        <label>姓名：</label>
                        <span th:text=" ${teacherApplyDetailResult?.name}"></span>
                    </div>
                    <div class="column">
                        <label>性别：</label>
                        <span th:text="${teacherApplyDetailResult?.sex}==0?'女':'男'"></span>
                    </div>
                    <div class="column">
                        <label>民族：</label>
                        <span th:text="${teacherApplyDetailResult?.nation}==0?'汉族':'少数民族'"></span>
                    </div>
                    <div class="column">
                        <label>出生日期：</label>
                        <span th:text="${#dates.format(teacherApplyDetailResult?.birthdate,'yyyy-MM-dd')}"></span>
                    </div>
                    <div class="column">
                        <label>证件号码：</label>
                        <span th:text="${teacherApplyDetailResult?.idNo}"></span>
                    </div>
                    <div class="column">
                        <label>政治面貌：</label>
                        <span th:switch="${teacherApplyDetailResult?.politicsStatus}">
                            <label th:case="0">群众</label>
                            <label th:case="1">共青团员</label>
                            <label th:case="2">中共预备党员</label>
                            <label th:case="3">中共党员</label>
                        </span>
                    </div>
                    <div class="column">
                        <label>户口所在地：</label>
                        <span th:text="${teacherApplyDetailResult?.domicilePlace}"></span>
                    </div>
                    <div class="column">
                        <label>户口性质：</label>
                        <span th:text="${teacherApplyDetailResult?.accountProperties}==0?'农村户口':'城镇户口'"></span>
                    </div>
                    <div class ="column">
                        <label>婚姻状况：</label>
                        <span th:text="${teacherApplyDetailResult?.maritalStatus}"></span>
                    </div>
                    <div class="column">
                        <label>邮箱：</label>
                        <span th:text="${teacherApplyDetailResult?.email}"></span>
                    </div>
                    <div class="column">
                        <label>电话号码：</label>
                        <span th:text="${teacherApplyDetailResult?.phoneNo}"></span>
                    </div>
                    <div class="column">
                        <label>最高学历：</label>
                        <span th:switch="${teacherApplyDetailResult?.education}">
                            <label th:case="0">小学</label>
                            <label th:case="1">初中</label>
                            <label th:case="2">高中（中专，职高）</label>
                            <label th:case="3">大专</label>
                            <label th:case="4">本科</label>
                            <label th:case="5">硕士研究生</label>
                            <label th:case="6">博士研究生</label>
                            <label th:case="7">其他</label>
                        </span>
                    </div>
                    <div class="column">
                        <label>专业：</label>
                        <span th:text="${teacherApplyDetailResult?.profession}"></span>
                    </div>
                    <div class="column">
                        <label>英语等级：</label>
                        <span th:text="${teacherApplyDetailResult?.englishLevel}"></span>
                    </div>
                    <div class="column">
                        <label>教师资格证：</label>
                        <span th:text="${teacherApplyDetailResult?.teacherCertification}"></span>
                    </div>
                    <div class="column">
                        <label>专业职称：</label>
                        <span th:text="${teacherApplyDetailResult?.professionalTitle}"></span>
                    </div>
                    <div class="column">
                        <label>应聘学段：</label>
                        <span th:text="${teacherApplyDetailResult?.applyPhaseStudying}"></span>
                    </div>
                    <div class="column">
                        <label>应聘学科：</label>
                        <span th:text="${teacherApplyDetailResult?.applySubject}"></span>
                    </div>
                </div>
                <h3 class="ui header">教育经历</h3>
                <div class="ui divider"></div>
                <table class="ui celled table center aligned">
                    <thead>
                    <tr>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>学校名称</th>
                        <th>学历</th>
                        <th>专业</th>
                        <th>证书</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="educationExperience:${teacherApplyDetailResult?.educationExperienceList}">
                        <td  th:text="${#dates.format(educationExperience?.startTime,'yyyy-MM-dd')}"></td>
                        <td  th:text="${#dates.format(educationExperience?.endTime, 'yyyy-MM-dd')}"></td>
                        <td  th:text="${educationExperience?.schoolName}"></td>
                        <td  th:text="${educationExperience?.education}"></td>
                        <td  th:text="${educationExperience?.profession}"></td>
                        <td  th:text="${educationExperience?.credential}"></td>
                    </tr>
                    </tbody>
                </table>
                <h3 class="ui header">培训经历</h3>
                <div class="ui divider"></div>
                <table class="ui celled table center aligned">
                    <thead>
                    <tr>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>培训内容</th>
                        <th>培训机构</th>
                        <th>培训结果</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="trainingExperience:${teacherApplyDetailResult?.trainingExperienceList}">
                        <td  th:text="${#dates.format(trainingExperience?.startTime,'yyyy-MM-dd')}"></td>
                        <td  th:text="${#dates.format(trainingExperience?.endTime, 'yyyy-MM-dd')}"></td>
                        <td  th:text="${trainingExperience?.trainingContent}"></td>
                        <td  th:text="${trainingExperience?.trainingInstitution}"></td>
                        <td  th:text="${trainingExperience?.trainingResult}"></td>
                    </tr>
                    </tbody>
                </table>
                <h3 class="ui header">离职经历</h3>
                <div class="ui divider"></div>
                <table class="ui celled table center aligned">
                    <thead>
                    <tr>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>工作单位</th>
                        <th>职位</th>
                        <th>证明人姓名</th>
                        <th>证明人电话</th>
                        <th>离职原因</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="workExperience:${teacherApplyDetailResult?.workExperienceList}">
                        <td  th:text="${#dates.format(workExperience?.startTime,'yyyy-MM-dd')}"></td>
                        <td  th:text="${#dates.format(workExperience?.endTime, 'yyyy-MM-dd')}"></td>
                        <td  th:text="${workExperience?.workUnit}"></td>
                        <td  th:text="${workExperience?.position}"></td>
                        <td  th:text="${workExperience?.certifierName}"></td>
                        <td  th:text="${workExperience?.certifierPhone}"></td>
                        <td  th:text="${workExperience?.reasonsResignation}"></td>
                    </tr>
                    </tbody>
                </table>
                <h3 class="ui header">任职工作</h3>
                <div class="ui divider"></div>
                <table class="ui celled table center aligned">
                    <thead>
                    <tr>
                        <th>技术职务名称</th>
                        <th>晋升年月</th>
                        <th>晋升单位</th>
                        <th>批准单位</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="jobExperience:${teacherApplyDetailResult?.jobExperienceList}">

                        <td  th:text="${jobExperience?.jobTitle}"></td>
                        <td  th:text="${jobExperience?.promotionDate}"></td>
                        <td  th:text="${jobExperience?.promotionUnit}"></td>
                        <td  th:text="${jobExperience?.ratifyUnit}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
</th:block>
<div th:replace="common::leftMenu"></div>
<div th:replace="common::optionHint2"></div>
<div th:replace="common::updateHint"></div>
<div th:replace="common::contentHint"></div>
<div class="main" style="margin-left: 19em; margin-right: 1em;">
    <div class="ui grid">
        <div class="right floated column">
            <div th:replace="common::topMenu"></div>
            <div class="ui segment">
                <form class="ui form">
                    <div class="three fields">
                        <div class="field">
                            <label>姓名</label>
                            <input type="text" name="name" placeholder="姓名">
                        </div>
                        <div class="field">
                            <label>状态</label>
                            <select class="ui dropdown" name="status">
                                <option value="">全部</option>
                                <option value="INIT">初始化</option>
                                <option value="AUDIT">审核中</option>
                                <option value="PASSED">通过</option>
                                <option value="REJECT">拒绝</option>
                            </select>
                        </div>
                        <div class="field">
                            <label>创建日期</label>
                            <div class="two fields">
                                <div class="field">
                                    <div class="ui calendar">

                                        <div class="ui input left icon">
                                            <i class="calendar alternate icon"></i>
                                            <input type="text" placeholder="开始日期" value="" name="startTime">
                                        </div>
                                    </div>
                                </div>
                                -
                                <div class="field">
                                    <div class="ui calendar">
                                        <div class="ui input left icon">
                                            <i class="calendar alternate icon"></i>
                                            <input type="text" placeholder="结束日期" value="" name="endTime">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal button" th:onclick="|javascript:queryTeacherApplyInfo()|">查询</div>
                    <div class="ui button" th:onclick="'javascript:resst()'">重置</div>
                </form>
            </div>
            <div class="ui segment">
                <div id="teacherApplyInfoList" th:fragment="teacherApplyInfoList">
                    <table class="ui celled table center aligned">
                        <thead>
                        <tr>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>民族</th>
                            <th>出生日期</th>
                            <th>政治面貌</th>
                            <th>户口所在地</th>
                            <th>户口性质</th>
                            <th>最高学历</th>
                            <th>专业</th>
                            <th>状态</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="teacherApplyInfo:${teacherApplyInfoList}">
                            <td th:text="${teacherApplyInfo.name}"></td>
                            <td th:text="${teacherApplyInfo.sex}==0?'女':'男'"></td>
                            <td th:text="${teacherApplyInfo.nation}==0?'汉族':'少数民族'"></td>
                            <td th:text="${#dates.format(teacherApplyInfo.birthdate,'yyyy-MM-dd')}"></td>
                            <td th:text="${teacherApplyInfo.politicsStatus}==0?'党员':'群众'"></td>
                            <td th:text="${teacherApplyInfo.domicilePlace}"></td>
                            <td th:text="${teacherApplyInfo.accountProperties}==0?'农村户口':'城镇户口'"></td>
                            <td th:switch="${teacherApplyInfo.education}">
                                <label th:case="0">小学</label>
                                <label th:case="1">初中</label>
                                <label th:case="2">高中（中专，职高）</label>
                                <label th:case="3">大专</label>
                                <label th:case="4">本科</label>
                                <label th:case="5">硕士研究生</label>
                                <label th:case="6">博士研究生</label>
                                <label th:case="7">其他</label>
                            </td>
                            <td th:text="${teacherApplyInfo.profession}"></td>
                            <td th:switch="${teacherApplyInfo.status}">
                                <label th:case="INIT">初始化</label>
                                <label th:case="AUDIT">审核中</label>
                                <label th:case="PASSED">通过</label>
                                <label th:case="REJECT">拒绝</label>
                            </td>
                            <td th:text="${#dates.format(teacherApplyInfo.createTime,'yyyy-MM-dd')}"></td>
                            <td>
                                <button class="ui small blue inverted button"
                                th:onclick="|javascript:getTeacherDetail(${teacherApplyInfo.id})|" >
                               详情</button>
                                <button th:if="${teacherApplyInfo.status} eq 'AUDIT'" class="ui small green inverted button"
                                        th:onclick="|javascript:updateTeacherStatus(${teacherApplyInfo.id})|">审核
                                </button>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="12">
                                <div class="ui right floated pagination menu">
                                    <a class="icon item">
                                        <i class="left chevron icon"></i>
                                    </a>
                                    <a class="item">1</a>
                                    <a class="item">2</a>
                                    <a class="item">3</a>
                                    <a class="item">4</a>
                                    <a class="icon item">
                                        <i class="right chevron icon"></i>
                                    </a>
                                </div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


</body>
<script th:src="@{../../static/js/common.js}"></script>
<script th:src="@{../../static/js/teacher.js}"></script>
</html>