<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <div th:replace="common::header"></div>

</head>
<body>
<th:block>
    <div class="ui long modal grid">
    <div class="header">教师详细信息</div>
    <div id="teacherApplyDetailResult" th:fragment="teacherApplyDetailResult">
        <div class="image content">
            <img class="image" src="./static/images/steve.jpg">
            <div class="description">
                <P>基本信息</P>
                <div>
                    <div class="ui list">
                        <div class="item">
                            <label>姓名：</label>
                            <p th:text="${teacherApplyDetailResult?.name}"></p>
                        </div>
                        <div class="item">
                            2
                        </div>
                        <div class="item">
                            3
                        </div>
                    </div>
                </div>
                <table class="ui celled table center aligned">
                    <tr>
                        <td>姓名:</td>
                        <td id="name"></td>
                        <td >性别:</td>
                        <td id="sex"></td>
                        <td>民族:</td>
                        <td id="nation"></td>
                        <td>出生日期:</td>
                        <td id="birthday"></td>
                    </tr>
                    <tr>
                        <td>证件号码:</td>
                        <td id="idNo"></td>
                        <td >政治面貌:</td>
                        <td id="politicsStatus"></td>
                        <td>户口所在地:</td>
                        <td id="domicilePlace"></td>
                        <td>户口性质:</td>
                        <td id="accountProperties"></td>
                    </tr>
                    <tr>
                        <td>婚姻状况:</td>
                        <td id="maritalStatus"></td>
                        <td >邮箱:</td>
                        <td id="email"></td>
                        <td>电话号码:</td>
                        <td id="phoneNo"></td>
                        <td>最高学历:</td>
                        <td id="education"></td>
                    </tr>
                    <tr>
                        <td>专业:</td>
                        <td id="profession"></td>
                        <td >英语等级:</td>
                        <td id="englishLevel"></td>
                        <td>教师资格证:</td>
                        <td id="teacherCertification"></td>
                        <td>专业职称:</td>
                        <td id="professionalTitle"></td>
                    </tr>
                    <tr>
                        <td>应聘学段:</td>
                        <td id="applyPhaseStudying"></td>
                        <td >应聘学科:</td>
                        <td id="applySubject"></td>

                    </tr>

                </table>
                <P>教育经历</P>
                <div id="educationExceprience">
                </div>
                <P>工作经历</P>
                <div id="workExceprience">
                </div>
                <P>培训经历</P>
                <div id="trainExceprience">
                </div>
            </div>
        </div>
    </div>
</div>
</th:block>
<div th:replace="common::leftMenu"></div>
<div th:replace="common::optionHint2"></div>
<div th:replace="common::updateHint"></div>
<div th:replace="common::contentHint"></div>
<div class="main" style="margin-left: 19em; margin-right: 1em;">
    <div class="ui grid">
        <div class="right floated column">
            <div th:replace="common::topMenu"></div>
            <div class="ui segment">
                <form class="ui form">
                    <div class="three fields">
                        <div class="field">
                            <label>姓名</label>
                            <input type="text" name="name" placeholder="姓名">
                        </div>
                        <div class="field">
                            <label>状态</label>
                            <select class="ui dropdown" name="status">
                                <option value="">全部</option>
                                <option value="INIT">初始化</option>
                                <option value="AUDIT">审核中</option>
                                <option value="PASSED">通过</option>
                                <option value="REJECT">拒绝</option>
                            </select>
                        </div>
                        <div class="field">
                            <label>创建日期</label>
                            <div class="two fields">
                                <div class="field">
                                    <div class="ui calendar">

                                        <div class="ui input left icon">
                                            <i class="calendar alternate icon"></i>
                                            <input type="text" placeholder="开始日期" value="" name="startTime">
                                        </div>
                                    </div>
                                </div>
                                -
                                <div class="field">
                                    <div class="ui calendar">
                                        <div class="ui input left icon">
                                            <i class="calendar alternate icon"></i>
                                            <input type="text" placeholder="结束日期" value="" name="endTime">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal button" th:onclick="|javascript:queryTeacherApplyInfo()|">查询</div>
                    <div class="ui button" th:onclick="'javascript:resst()'">重置</div>
                </form>
            </div>
            <div class="ui segment">
                <div id="teacherApplyInfoList" th:fragment="teacherApplyInfoList">
                    <table class="ui celled table center aligned">
                        <thead>
                        <tr>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>民族</th>
                            <th>出生日期</th>
                            <th>政治面貌</th>
                            <th>户口所在地</th>
                            <th>户口性质</th>
                            <th>最高学历</th>
                            <th>专业</th>
                            <th>状态</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="teacherApplyInfo:${teacherApplyInfoList}">
                            <td th:text="${teacherApplyInfo.name}"></td>
                            <td th:text="${teacherApplyInfo.sex}==0?'女':'男'"></td>
                            <td th:text="${teacherApplyInfo.nation}==0?'汉族':'少数民族'"></td>
                            <td th:text="${#dates.format(teacherApplyInfo.birthdate,'yyyy-MM-dd')}"></td>
                            <td th:text="${teacherApplyInfo.politicsStatus}==0?'党员':'群众'"></td>
                            <td th:text="${teacherApplyInfo.domicilePlace}"></td>
                            <td th:text="${teacherApplyInfo.accountProperties}==0?'农村户口':'城镇户口'"></td>
                            <td th:switch="${teacherApplyInfo.education}">
                                <label th:case="0">小学</label>
                                <label th:case="1">初中</label>
                                <label th:case="2">高中（中专，职高）</label>
                                <label th:case="3">大专</label>
                                <label th:case="4">本科</label>
                                <label th:case="5">硕士研究生</label>
                                <label th:case="6">博士研究生</label>
                            </td>
                            <td th:text="${teacherApplyInfo.profession}"></td>
                            <td th:switch="${teacherApplyInfo.status}">
                                <label th:case="INIT">初始化</label>
                                <label th:case="AUDIT">审核中</label>
                                <label th:case="PASSED">通过</label>
                                <label th:case="REJECT">拒绝</label>
                            </td>
                            <td th:text="${#dates.format(teacherApplyInfo.createTime,'yyyy-MM-dd')}"></td>
                            <td>
                                <button class="ui small blue inverted button"
                                th:onclick="|javascript:getTeacherDetail(${teacherApplyInfo.id})|" >
                               详情</button>
                                <button th:if="${teacherApplyInfo.status} eq 'AUDIT'" class="ui small green inverted button"
                                        th:onclick="|javascript:updateTeacherStatus(${teacherApplyInfo.id})|">审核
                                </button>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="12">
                                <div class="ui right floated pagination menu">
                                    <a class="icon item">
                                        <i class="left chevron icon"></i>
                                    </a>
                                    <a class="item">1</a>
                                    <a class="item">2</a>
                                    <a class="item">3</a>
                                    <a class="item">4</a>
                                    <a class="icon item">
                                        <i class="right chevron icon"></i>
                                    </a>
                                </div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


</body>
<script th:src="@{../../static/js/common.js}"></script>
<script th:src="@{../../static/js/teacher.js}"></script>
</html>