<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>初中报名</title>
    <div th:replace="common::header"></div>
</head>
<body>
<div class="page__hd">
    <h1 class="page__title">报名学生详细信息</h1>
</div>
<div class="page__bd">
    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">基本信息:</div>
        <div class="weui-panel__bd">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">姓名:</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" name="name" disabled type="text"
                           th:value="${fullEnrollStudentInfo.studentInfo.name}">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">性别:</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" name="sex" disabled type="text"
                           th:value="${fullEnrollStudentInfo.studentInfo.sex}==0?'女':'男'">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">名族:</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" disabled name="nation" type="text"
                           th:value="${fullEnrollStudentInfo.studentInfo.nation}">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">出生日期:</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" name="birthdate" disabled type="text"
                           th:value="${#dates.format(fullEnrollStudentInfo.studentInfo.birthdate,'yyyy-MM-dd')}">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">身份证号:</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" disabled name="nation" type="text"
                           th:value="${fullEnrollStudentInfo.studentInfo.idNo}">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">现就读小学:</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" disabled name="nation" type="text"
                           th:value="${fullEnrollStudentInfo.studentInfo.primarySchool}">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">学籍号:</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" disabled name="nation" type="text"
                           th:value="${fullEnrollStudentInfo.studentInfo.studentCode}">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">学籍所在地:</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" disabled name="nation" type="text"
                           th:value="${fullEnrollStudentInfo.studentInfo.schoolRollPlace}">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">户口所在地:</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" name="domicilePlace" disabled type="text"
                           th:value="${fullEnrollStudentInfo.studentInfo.domicilePlace}">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">家庭住址:</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" name="homeAddress" disabled type="text"
                           th:value="${fullEnrollStudentInfo.studentInfo.homeAddress}">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">联系电话:</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" name="phoneNo" disabled type="text"
                           th:value="${fullEnrollStudentInfo.studentInfo.phoneNo}">
                </div>
            </div>
        </div>
    </div>

    <div class="weui-panel weui-panel_access" th:each="familyInfo:${fullEnrollStudentInfo.familyInfoList}">
        <div class="weui-panel__hd">家庭成员:</div>
        <div class="weui-panel__bd">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">称谓:</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" name="salutation" disabled type="text"
                           th:value="${familyInfo.salutation==0?'母亲':'父亲'}">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">姓名:</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" name="name" disabled type="text" th:value="${familyInfo.name}"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">学历:</label></div>
                <div class="weui-cell__bd" th:switch="${familyInfo.education}">
                    <input class="weui-input" name="education" disabled type="text" th:case=1 value="初中"/>
                    <input class="weui-input" name="education" disabled type="text" th:case=2 value="高中(中专、职高)"/>
                    <input class="weui-input" name="education" disabled type="text" th:case=3 value="大专"/>
                    <input class="weui-input" name="education" disabled type="text" th:case=4 value="本科"/>
                    <input class="weui-input" name="education" disabled type="text" th:case=5 value="硕士研究生"/>
                    <input class="weui-input" name="education" disabled type="text" th:case=6 value="博士研究生"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">工作单位:</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" name="workUnit" disabled type="text"
                           th:value="${familyInfo.workUnit}"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">职务:</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" name="workUnit" disabled type="text"
                           th:value="${familyInfo.position}"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">联系方式:</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" name="phoneNo" disabled type="text" th:value="${familyInfo.phoneNo}">
                </div>
            </div>
        </div>
    </div>

    <div class="weui-panel weui-panel_access">
        <div class="weui-cells__title">获奖情况:</div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">市级三好学生:</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" name="workUnit" disabled type="text"
                       th:value="${fullEnrollStudentInfo.honorInfo.meritStudent}==0?'是':'否'">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">市红领巾奖章:</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" name="workUnit" disabled type="text"
                       th:value="${fullEnrollStudentInfo.honorInfo.redScarf}==0?'是':'否'">
            </div>
        </div>
        <div class="weui-cells__title">校内职务（中队长以上）:</div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">四年级:</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" name="workUnit" disabled type="text"
                       th:value="${fullEnrollStudentInfo.honorInfo.schoolPositionFour}">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">五年级:</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" name="workUnit" disabled type="text"
                       th:value="${fullEnrollStudentInfo.honorInfo.schoolPositionFive}">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">六年级:</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" name="workUnit" disabled type="text"
                       th:value="${fullEnrollStudentInfo.honorInfo.schoolPositionSix}">
            </div>
        </div>
        <div class="weui-cells__title">优秀证书(区级以上):</div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">优秀证书:</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" name="workUnit" disabled type="text"
                       th:value="${fullEnrollStudentInfo.honorInfo.honorRoll}">
            </div>
        </div>
        <div class="weui-cells__title">杯赛证书</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                        <textarea class="weui-textarea" disabled rows="3" name="certificate"
                                  th:text="${fullEnrollStudentInfo.honorInfo.certificate}"></textarea>
                </div>
            </div>
        </div>
        <div class="weui-cells__title">自我介绍</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                        <textarea class="weui-textarea" disabled rows="3" name="selfIntroduction"
                                  th:text="${fullEnrollStudentInfo.studentInfo.selfIntroduction}"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="weui-btn-area">
    <a href="javascript:history.back();" class="weui-btn weui-btn_default">返回上一页</a>
</div>
<div class="weui-footer">
    <p class="weui-footer__text">Copyright © 2008-2019 weui.io</p>
</div>
</body>
</html>