<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="common::header"></div>
</head>
<body>
<div class="page__hd">
    <h1 class="page__title">教师招聘</h1>
    <p class="page__desc">请填写真实的完整信息，谢谢!</p>
</div>
<div class="page__bd">
    <form id="base_info_form">
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">基本信息:</div>
            <div class="weui-panel__bd">

                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">姓名:</label></div>
                    <div class="weui-cell__bd">
                        <input required emptyTips="请输入姓名" class="weui-input" name="name" placeholder="请输入姓名"
                               type="text">
                    </div>
                </div>
                <div class="weui-cell" id="uploader">
                    <div class="weui-cell__bd">
                        <div class="weui-uploader">
                            <div class="weui-uploader__hd">
                                <p class="weui-uploader__title">上传照片</p>
                            </div>
                            <div class="weui-uploader__bd">
                                <ul class="weui-uploader__files" id="uploaderFiles"></ul>
                                <div class="weui-uploader__input-box">
                                    <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*"
                                           capture="camera" multiple=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd"><label class="weui-label">性别:</label></div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="sex">
                            <option value="1">男</option>
                            <option value="0">女</option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">名族:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="nation" placeholder="请输入名族" type="text">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">出生日期:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" required emptyTips="请选择出生日期" placeholder="请选择日期" type="text"
                               id="birthdate" name="birthdate">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">身份证号:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" required pattern="REG_IDNUM" name="idNo" placeholder="请输入身份证号"
                               notMatchTips="请输入正确的身份证号码" type="text">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd"><label class="weui-label">政治面貌:</label></div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="politicsStatus">
                            <option value="0">群众</option>
                            <option value="1">共青团员</option>
                            <option value="2">中共预备党员</option>
                            <option value="3">中共党员</option>
                            <option value="4">其他</option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">户口所在地:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" required emptyTips="请输入户口所在地" placeholder="请输入户口所在地" type="text"
                               id="domicile_place" name="domicilePlace">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd"><label class="weui-label">户口性质:</label></div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="accountProperties">
                            <option value="0">农村户口</option>
                            <option value="1">城镇户口</option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd"><label class="weui-label">婚姻状况:</label></div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="maritalStatus">
                            <option value="0">未婚</option>
                            <option value="1">已婚</option>
                            <option value="2">丧偶</option>
                            <option value="3">离婚</option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">邮箱:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="email" required pattern="REG_EMAIL" placeholder="请输入邮箱"
                               notMatchTips="请输入正确的邮箱" type="text">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">联系电话:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="tel" required pattern="[0-9]{11}" placeholder="请输入手机号"
                               notMatchTips="请输入正确的手机号" name="phoneNo">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd"><label class="weui-label">最高学历:</label></div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="education">
                            <option value="3">大专</option>
                            <option value="4">本科</option>
                            <option value="5">硕士研究生</option>
                            <option value="6">博士研究生</option>
                        </select>
                    </div>
                </div>

                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">专业:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" required emptyTips="请输入专业" placeholder="请输入专业" type="text"
                               name="profession">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd"><label class="weui-label">英语等级:</label></div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="englishLevel">
                            <option value="0">专业英语八级</option>
                            <option value="1">专业英语四级</option>
                            <option value="2">大学英语六级</option>
                            <option value="3">大学英语四级</option>
                            <option value="4">其他</option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd"><label class="weui-label">教师资格证:</label></div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="teacherCertification">
                            <option value="0">小学教师资格</option>
                            <option value="1">高级中学教师资格</option>
                            <option value="2">初级中学教师资格</option>
                            <option value="3">无</option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd"><label class="weui-label">专业职称:</label></div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="professionalTitle">
                            <option value="0">正高级教师</option>
                            <option value="1">高级教师</option>
                            <option value="2">一级教师</option>
                            <option value="3">二级教师</option>
                            <option value="4">无</option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd"><label class="weui-label">应聘学段:</label></div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="applyPhaseStudying">
                            <option value="0">小学</option>
                            <option value="1">初中</option>
                            <option value="2">高中</option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd"><label class="weui-label">应聘学科:</label></div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="applySubject">
                            <option value="0">语文</option>
                            <option value="1">数学</option>
                            <option value="2">英语</option>
                            <option value="3">物理</option>
                            <option value="4">化学</option>
                            <option value="5">生物</option>
                            <option value="6">历史</option>
                            <option value="7">地理</option>
                            <option value="8">政治</option>
                            <option value="9">其他</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">主要教育经历1:</div>
            <div class="weui-panel__bd">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">开始时间:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" required emptyTips="请选择教育经历开始时间" placeholder="请选择开始时间" type="text"
                               id="educationExperience_startTime1" name="educationExperience_startTime1">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">结束时间:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" required emptyTips="请选择教育经历结束时间" placeholder="请选择结束时间" type="text"
                               id="educationExperience_endTime1" name="educationExperience_endTime1">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">院校名称:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" required emptyTips="请输入院校名称" placeholder="请输入院校名称" type="text"
                               name="schoolName1">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd"><label class="weui-label">学历:</label></div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="education1">
                            <option value="3">大专</option>
                            <option value="4">本科</option>
                            <option value="5">硕士研究生</option>
                            <option value="6">博士研究生</option>
                            <option value="7">其他</option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">专业:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" required emptyTips="请输入专业" placeholder="请输入专业" type="text"
                               name="profession1">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">证书:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="credential1" placeholder="请输入证书" type="text">
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">主要教育经历2:</div>
            <div class="weui-panel__bd">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">开始时间:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请选择开始时间" type="text"
                               id="educationExperience_startTime2" name="educationExperience_startTime1">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">结束时间:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请选择结束时间" type="text"
                               id="educationExperience_endTime2" name="educationExperience_endTime1">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">院校名称:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请输入院校名称" type="text"
                               name="schoolName1">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd"><label class="weui-label">学历:</label></div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="education2">
                            <option value="3">大专</option>
                            <option value="4">本科</option>
                            <option value="5">硕士研究生</option>
                            <option value="6">博士研究生</option>
                            <option value="7">其他</option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">专业:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请输入专业" type="text"
                               name="profession2">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">证书:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="credential2" placeholder="请输入证书" type="text">
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">主要工作经历1:</div>
            <div class="weui-panel__bd">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">开始时间:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" required emptyTips="请选择工作经历开始时间" placeholder="请选择开始时间" type="text"
                               id="workExperience_startTime1" name="workExperience_startTime1">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">结束时间:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" required emptyTips="请选择工作经历结束时间" placeholder="请选择结束时间" type="text"
                               id="workExperience_endTime1" name="workExperience_endTime1">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">工作单位:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" required emptyTips="请输入工作单位" placeholder="请输入工作单位" type="text"
                               name="workUnit1">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">职位:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" required emptyTips="请输入职位" placeholder="请输入职位" type="text"
                               name="position1">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">证明人姓名:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请输入证明人姓名" type="text"
                               name="certifierName1">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">证明人电话:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="tel" required pattern="[0-9]{11}" notMatchTips="请输入正确的手机号"
                               placeholder="请输入证明人电话" name="certifierPhone1">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">离职原因:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" required emptyTips="请输入离职原因" name="reasonsResignation1"
                               placeholder="请输入离职原因" type="text">
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">主要工作经历2:</div>
            <div class="weui-panel__bd">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">开始时间:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请选择开始时间" type="text"
                               id="workExperience_startTime2" name="workExperience_startTime1">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">结束时间:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请选择结束时间" type="text"
                               id="workExperience_endTime2" name="workExperience_endTime1">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">工作单位:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请输入工作单位" type="text"
                               name="workUnit2">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">职位:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请输入职位" type="text"
                               name="position2">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">证明人姓名:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请输入证明人姓名" type="text"
                               name="certifierName2">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">证明人电话:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请输入证明人电话" type="text"
                               name="certifierPhone2">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">离职原因:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="reasonsResignation2"
                               placeholder="请输入离职原因" type="text">
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">专业技术职务经历1:</div>
            <div class="weui-panel__bd">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label" style="font-size: x-small">专业技术职务名称:</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请输入专业技术职务名称" type="text"
                               required emptyTips="请输入专业技术职务名称" id="jobTitle1" name="jobTitle1">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">晋升日期:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请选择晋升日期" type="text"
                               required emptyTips="请选择晋升日期" id="promotionDate1" name="promotionDate1">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">晋升单位:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请输入晋升单位" type="text"
                               required emptyTips="请输入晋升单位" name="promotionUnit1">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">批准单位:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请输入批准单位" type="text"
                               required emptyTips="请输入批准单位" name="ratifyUnit1">
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">专业技术职务经历2:</div>
            <div class="weui-panel__bd">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label" style="font-size: x-small">专业技术职务名称:</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请输入专业技术职务名称" type="text"
                               id="jobTitle2" name="jobTitle2">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">晋升日期:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请选择晋升日期" type="text"
                               id="promotionDate2" name="promotionDate2">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">晋升单位:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请输入晋升单位" type="text"
                               name="promotionUnit2">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">批准单位:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请输入批准单位" type="text"
                               name="ratifyUnit2">
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">主要培训/实习经历1:</div>
            <div class="weui-panel__bd">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">开始时间:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请选择开始时间" type="text" required emptyTips="请选择开始时间"
                               id="trainingExperience_startTime1" name="trainingExperience_startTime1">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">结束时间:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请选择结束时间" type="text" required emptyTips="请选择结束时间"
                               id="trainingExperience_endTime1" name="trainingExperience_endTime1">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label" style="font-size: x-small">培训/实习内容:</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请输入培训/实习内容" type="text"
                               required emptyTips="请输入培训/实习内容" id="trainingContent1" name="trainingContent1">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">培训/实习机构:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请选择培训/实习机构" type="text"
                               required emptyTips="请选择培训/实习机构" id="trainingInstitution1" name="trainingInstitution1">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">培训实习结果:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请输入培训实习结果" type="text"
                               required emptyTips="请输入培训实习结果" name="trainingResult1">
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">主要培训/实习经历2:</div>
            <div class="weui-panel__bd">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">开始时间:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请选择开始时间" type="text"
                               id="trainingExperience_startTime2" name="trainingExperience_startTime2">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">结束时间:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请选择结束时间" type="text"
                               id="trainingExperience_endTime2" name="trainingExperience_endTime2">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label" style="font-size: x-small">培训/实习内容:</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请输入培训/实习内容" type="text"
                               id="trainingContent2" name="trainingContent2">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">培训/实习机构:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请选择培训/实习机构" type="text"
                               id="trainingInstitution2" name="trainingInstitution2">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">培训实习结果:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请输入培训实习结果" type="text"
                               name="trainingResult2">
                    </div>
                </div>
            </div>
        </div>

    </form>

    <div class="weui-btn-area">
        <a href="javascript:history.back();" class="weui-btn weui-btn_default">返回上一页</a>
        <a id="formSubmitBtn" class="weui-btn weui-btn_primary">提交并保存</a>
    </div>

    <div class="weui-footer">
        <p class="weui-footer__text">Copyright © 2008-2019 weui.io</p>
    </div>
</div>
</body>
<script th:src="@{../../static/js/teacherWanted.js}"></script>
</html>